.datasource-left {
    @include size(100%, 100%);
    background: $datasource-manage-panel-bg;

    :global {
        .left-resize-btn {
            @include size(4px, 48px);
            display: inline-block;
            position: absolute;
            top: calc(50% - 24px);
            right: 0;
            z-index: 10;
            background: $datasource-resize-btn-bg;
        }

        .title-box {
            @include size(100%, 48px);
            border-bottom: 1px solid $datasource-title-border-color;
            padding-left: $space-lg;
            line-height: 48px;
            color: $datasource-title-panel-color;
            font-size: 16px;
            font-weight: 700;
        }

        .content-box {
            @include size(100%, calc(100% - 48px));
            padding: $space-md $space-lg;

            .btn-groups {
                display: flex;
                justify-content: flex-end;
                margin-bottom: $space-md;

                .ant-btn {
                    margin-right: $space-md;
                }
            }

            .table-box {
                @include size(100%, calc(100% - #{$space-md} * 3 - 32px));

                .highlight {
                    td {
                        border-top: 1px solid $datasource-table-highlight-border;
                        border-bottom: 1px solid $datasource-table-highlight-border;
                        background: $datasource-table-highlight-bg !important;

                        &:first-child {
                            border-left: 1px solid $datasource-table-highlight-border;
                        }

                        &:last-child {
                            border-right: 1px solid $datasource-table-highlight-border;
                        }
                    }
                }

                .ant-table-fixed-right {
                    .highlight {
                        td {
                            border: 1px solid $datasource-table-highlight-border;
                            border-left: none;
                        }
                    }
                }

                .status-link {
                    i {
                        margin-right: $space-xs;
                        vertical-align: middle;
                        font-size: 12px;
                    }

                    &.success,
                    &.success i {
                        color: $datasource-table-status-success-bg;
                    }

                    &.error,
                    &.error i {
                        color: $datasource-table-status-error-bg;
                    }
                }
            }

            .click-btn {
                margin: 0;
                width: 100%;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
