.sync-datasource {
    width: 100%;

    :global {
        .sync-content {
            display: flex;
            height: 500px;
            overflow-y: auto;

            .info-box {
                @include size(calc(25% - #{$space-md}), 100%);
                flex: 1;
                margin-right: $space-md;
                border: 1px solid $gray-d8;
                border-radius: 4px;

                .title {
                    @include size(100%, 40px);
                    border-bottom: 1px solid $gray-d8;
                    padding-left: $space-md;
                    line-height: 40px;
                    color: $text-color;
                    font-weight: 600;
                }


                .list {
                    @include size(100%, calc(100% - 40px));
                    margin: 0;
                    overflow: auto;
                    padding: 0;

                    li {
                        @include size(calc(100% - 8px), 32px);
                        @include text-overflow();
                        margin: 2px 4px;
                        border-radius: 2px;
                        cursor: pointer;
                        padding: 0;
                        padding-left: $space-md;
                        line-height: 32px;

                        .cona {
                            font-size: 12px;
                        }

                        &.active {
                            background: $datasource-sync-list-active-bg-color;
                            color: $datasource-sync-list-active-text-color;
                        }

                        &.no-data {
                            padding: 0;
                            text-align: center;
                            color: $datasource-sync-list-no-text-color;
                        }
                    }
                }
            }

            .table-list {
                margin-right: 0;
                width: 328px;
                padding: 12px $space-md;

                .search-table {
                    margin-bottom: 12px;
                }

                .check-all {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }

                .sync-tree-sel-num {
                    color: $datasource-sync-sel-num-color;
                    font-weight: 700;
                }

                .checkbox-group {
                    @include size(100%, calc(100% - 44px - 21px));
                    margin: 0;
                    overflow: auto;
                    padding: 0;

                    li {
                        @include size(100%, 32px);
                        display: flex;
                        justify-content: space-between;
                        margin: 2px 0;
                        padding: 0;
                        line-height: 32px;

                        .ant-checkbox-wrapper {
                            display: flex;
                            flex: 1;
                            align-items: center;
                            width: calc(100% - 3em - 16px);

                            .ant-checkbox + span {
                                display: flex;
                                width: calc(100% - 16px);
                            }
                        }

                        .item-name {
                            display: inline-block;
                            width: calc(100% - 16px - #{$space-md});
                            overflow: hidden;
                            vertical-align: middle;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .status {
                        display: inline-block;
                        border-radius: 2px;
                        // width: 53px;
                        height: 24px;
                        padding: 0 8px;
                        text-align: center;
                        line-height: 24px;
                        white-space: nowrap;
                        font-size: 12px;

                        &.nostate {
                            display: none;
                        }

                        &.delete {
                            border: 1px solid $datasource-sync-status-delete-color;
                            background: $datasource-sync-status-delete-bg-color;
                            color: $datasource-sync-status-delete-color;
                        }

                        &.synced {
                            border: 1px solid $datasource-sync-status-synced-color;
                            background: $datasource-sync-status-synced-bg-color;
                            color: $datasource-sync-status-synced-color;
                        }

                        &.refreshed {
                            border: 1px solid $datasource-sync-status-refreshed-color;
                            background: $datasource-sync-status-refreshed-bg-color;
                            color: $datasource-sync-status-refreshed-color;
                        }
                    }
                }
            }
        }

        .msg {
            float: left;
            margin-top: $space-sm;
            margin-left: $space-lg;
            color: $status-error-color;
        }
    }
}
