.origin-field {
    @include size(100%, 550px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: $space-lg;

    :global {
        .top {
            position: relative;
            border-bottom: 1px solid $gray-d8;
            padding-bottom: $space-md;

            .title {
                margin-bottom: 8px;
                color: $text-color;
                font-size: 14px;
                font-weight: 500;
            }

            .tag-bx {
                margin-bottom: 20px;
                max-height: 67px;
                overflow: auto;
            }

            .sync-box {
                position: absolute;
                bottom: 5px;
                left: calc(50% - 6em);
            }

            .sync-btn {
                margin: 0;
                font-weight: 600;
            }
        }

        .tag-item {
            display: inline-block;
            margin-top: 8px;
            margin-right: 8px;
            border: 1px solid $gray-d8;
            border-radius: 2px;
            height: 24px;
            padding: 0 8px;
            line-height: 24px;
            font-size: 12px;

            &.purple {
                border: 1px solid $datasource-origin-field-tag-purple-border-color;
            }

            &.orange {
                border: 1px solid $datasource-origin-field-tag-orange-border-color;
                background: $datasource-origin-field-tag-orange-bg-color;
            }

            &.green {
                border: 1px solid $datasource-origin-field-tag-green-border-color;
                background: $datasource-origin-field-tag-green-bg-color;
            }
        }

        .btns {
            align-self: flex-end;
            margin: $space-md 0;
        }

        .table-box {
            @include size(100%, calc(100% - 195px));
            flex: 1;
        }
    }
}
