.datasource-right {
    @include size(100%, 100%);

    :global {
        .right-resize-btn {
            @include size(4px, 48px);
            display: inline-block;
            position: absolute;
            top: calc(50% - 24px);
            left: 0;
            z-index: 10;
            background: $datasource-resize-btn-bg;
        }
    }
}
