:global {
    .test-link-text {
        @include size(calc(100% - 104px), $height-sm);
        flex: 1;
        margin-right: $space-md;
        border-radius: 2px;
        padding: 0 $space-md;
        line-height: $height-sm;

        i {
            margin-right: 12px;
            vertical-align: middle;
            font-size: 20px;
        }

        &.wait {
            border: 1px solid $datasource-create-link-wait-color;
            background: $datasource-create-link-wait-bg-color;

            i {
                color: $datasource-create-link-wait-color;
            }
        }

        &.success {
            border: 1px solid $datasource-create-link-success-color;
            background: $datasource-create-link-success-bg-color;

            i {
                color: $datasource-create-link-success-color;
            }
        }

        &.error {
            border: 1px solid $datasource-create-link-error-color;
            background: $datasource-create-link-error-bg-color;

            i {
                color: $datasource-create-link-error-color;
            }
        }

        &.runing {
            border: 1px solid $datasource-create-link-runing-color;
            background: $datasource-create-link-runing-bg-color;

            i {
                color: $datasource-create-link-runing-color;
            }
        }
    }
}
